{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>{{product.name}}</h1>
							<span class="image main"><img style="width: 20%; height: auto;" src="{{product.image.url}}" alt="" /></span>
							<p>{{product.description}}</p>
							{%if request.user.is_superuser%}
							<a href="{%url 'update' product.id%}" class="btn btn-primary">Update</a>
							<a href="{%url 'delete' product.id%}" class="btn btn-primary">Delete</a>
							{%endif%}

						</div>
					</div>
					 
{% endblock %}
