{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Welcome to East Asian Food Shop</h1>
							</header>
							<section class="tiles">
							{%for category in categories%}
							{%if not category.parent%}

								<article>
									<h2>{{category.title}}</h2>
									<span>
										<img style="width: 300px; height: 290px" src="{{category.image.url}}" alt="" />
									</span>
									<br>
            <ul>
                {% for child in category.children.all %}
                <div style="display: flex; justify-content: space-between;">
                <li><a href="{% url 'list' child.slug %}">{{ child.title }}</a></li>
                    <span class="badge bg-primary rounded-pill">{{ child.products.count }}</span>
                </div>
                    {% endfor %}

            </ul>
								</article>
								{%endif%}
								{%endfor%}
							</section>

	
							

						</div>
					</div>
				

{% endblock %}
