{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Welcome to East Asian Food Shop</h1>
							</header>
							<section class="tiles">

								<article class="style2">
									<span class="image">
										<img style="width: 300px; height: 290px" src="{% static 'images/japan.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Japanese food</h2>
										<div class="content">
											<p></p>
										</div>
									</a>
								</article>

								<article class="style6">
									<span class="image">
										<img style="width: 300px; height: 290px" src="{% static 'images/korean.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Korean Food</h2>
										<div class="content">
											<p></p>
										</div>
									</a>
								</article>

								<article class="style3">
									<span class="image">
										<img style="width: 300px; height: 290px" src="{% static 'images/chinese.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Chinese Food</h2>
										<div class="content">
											<p></p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

{% endblock %}
