{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Welcome to East Asian Food Shop</h1>
							</header>
							<section class="tiles">
							{%for category in categories%}
							{%if not category.parent%}
								<article class="style6">
									<span class="image">
										<img style="width: 300px; height: 290px" src="{{category.image.url}}" alt="" />
									</span>
									<a href="{%url 'list' category.slug %}">
										<h2>{{category.title}}</h2>
										<div class="content">
											<p></p>
										</div>
									</a>
								</article>
								{%endif%}
								{%endfor%}
							</section>
						</div>
					</div>

{% endblock %}
