{% extends 'base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block content %}

<!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_key }}" data-description="Give me your money"  data-amount="1800"  data-locale="auto"></script> -->

<form style="margin-left:100px;margin-right:100px;" method="post" enctype="multipart/form-data">
    {{form.as_p}}
    {%csrf_token%}
    <button type="submit" class="btn btn=warning">
        Перейти к оплате
    <!-- </script> -->
    </button>
</form>
{% endblock content %}

