{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Generic Page</h1>
							<span class="image main"><img src="{% static 'images/chinese longlogo.jpg' %}" alt="" /></span>
							<p>Dtristique.</p>
						</div>
					</div>
					<section class="tiles">
					{% for category in category.children.all %}
					{% for product in products %}
					<div class="card" style="width: 18rem;">
						<img src="{{product.get_image.url}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ product.description|truncatechars:87 }}</p>
							<a href="{%url 'product-detail' product.id%}" class="btn btn-primary">More</a>
						</div>
					</div>
						{% endfor %}
					{% endfor %}
					</section>
{% endblock %}