{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="tiles" style="margin-left:100px;margin-right:100px;">
  {% for product in page_obj %}



         <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="picture">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h5>
        <p class="card-text">{{ product.description|truncatechars:50 }}</p>
        <p class="card-text">{{ product.price }} Сом </p>
        {%if request.user.is_authenticated and not request.user.is_superuser%}
        <a href="{% url 'cart_add' product.id %}">Add To Cart</a>
        {%endif%}
      </div>
    </div>
  </div>
</div>
    {% endfor %}
  </section>
<div class="clearfix">
 {% if page_obj.has_other_pages %}
   <nav aria-label="Page navigation container">
   <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">« PREV </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT »</a></li>
    {% endif %}
   </ul>
   </nav>
  {% endif %}
</div>
</div>

{% endblock %}